<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/login" method="post">

    <h1>Login</h1>
    <input  name ="user_id" type="text" placeholder="User Id">
    <input name="password" type="password" placeholder="Password">
    <button>Submit</button>
    <p>Don't have account click here to sign up</p>
    <a href="/signup">Sign Up </a>
    
    <h1>{{isValid}}</h1>
    
    


    </form>


    
</body>
</html>